# MySQL (Source)
MYSQL_HOST=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
MYSQL_PORT=3306
MYSQL_SSL=

# PostgreSQL (Destination)
PGHOST=
PGUSER=
PGPASSWORD=
PGDATABASE=
PGPORT=5432
PGSSL=true
DATABASE_URL=

VITE_API_URL=
